$gray: rgba(128, 128, 128, 0.614);

.friend-profile {
  position: relative;
  &__dots {
    position: absolute;
    top: 1rem;
    right: 1rem;
    rotate: 90deg;
    width: 40px;
    z-index: 1;
    cursor: pointer;
  }
  &__options[open] {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
    border: none;
    border-radius: 1rem;
    width: max-content;
    padding: 2rem 3rem;
    overflow: hidden;
    &::backdrop {
      background-color: rgba(0, 0, 0, 0.7);
    }
    button {
      width: 100%;
    }
  }
}

.friend-profile-skeleton {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 100%;
  padding: 0.875rem;
  background-color: lightgray;
  &__image {
    width: 100px;
    aspect-ratio: 1/1;
    background-color: $gray;
    border-radius: 100px;
  }
  &__name {
    width: 70%;
    height: 2rem;
    background-color: $gray;
  }
  &__quote {
    width: 80%;
    height: 1rem;
    background-color: $gray;
  }
  &__education {
    width: 80%;
    height: 1rem;
    background-color: $gray;
  }
  &__button {
    width: 150px;
    height: 30px;
    background-color: $gray;
    border-radius: 0.5rem;
  }
}

.friend-posts {
  margin: 1rem 0;
  &__no-posts {
    text-align: center;
  }
}

.friend-posts-skeleton {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  background-color: lightgray;
  border-radius: 1rem;
  &__user-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    &--image {
      width: 50px;
      aspect-ratio: 1/1;
      border-radius: 40px;
      background-color: $gray;
    }
    &--text {
      display: flex;
      width: 100%;
      flex-direction: column;
      gap: 0.5rem;
      > div {
        width: 50%;
        height: 0.7rem;
        background-color: $gray;
      }
    }
  }
  &__post {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    > div {
      width: 60%;
      height: 0.875rem;
      background-color: $gray;
    }
  }
  &__icons {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    > div {
      width: 35px;
      aspect-ratio: 1/1;
      border-radius: 40px;
      background-color: $gray;
    }
  }
}
