/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@font-face {
  font-family: "VK-Sans-Regular";
  src: url("/fonts/VKSansDisplay-Regular.ttf");
}

@font-face {
  font-family: "VK-Sans-Medium";
  src: url("/fonts/VKSansDisplay-Medium.ttf");
}

@font-face {
  font-family: "VK-Sans-DemiBold";
  src: url("/fonts/VKSansDisplay-DemiBold.ttf");
}

@font-face {
  font-family: "VK-Sans-Bold";
  src: url("/fonts/VKSansDisplay-Bold.ttf");
}

html,
body,
#next {
  height: 100% !important;
  width: 100% !important;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "VK-Sans-Bold";
  // font-family: 'Open Sans', sans-serif;
  // font-family: 'Roboto', sans-serif;
  // font-family: 'Roboto Condensed', sans-serif;
}

body {
  margin: 0;
  font-family: "VK-Sans-Regular";
}

.homepage {
  position: absolute;
  margin: auto;
  inset: 0;
  display: grid;
  place-content: center;
}

.children {
  height: 100%;
  padding-bottom: calc(50px + 2rem);
}
