@import '../styles/mixins';

.found-user {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 4rem;
    padding: .5rem 1.2rem;
    @include shadow;
    &__icon {
        object-fit: cover;
        height: 70%;
        aspect-ratio: 1/1;
        overflow: hidden;
        opacity: .7;
    }    
    p {
        font-family: 'VK-Sans-Regular';
        flex-grow: 1;
    }
}