@import '../styles/mixins';

.friend-request {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: max-content;
    padding: 1rem 1.2rem;
    @include shadow;
    p {
        margin: 0;
    }
    > img {
        align-self: flex-start;
    }
    &__info {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        &--name {
            font-family: 'VK-Sans-Regular';
            flex-grow: 1;
        }
    }
    &__buttons {
        display: flex;
        gap: .5rem;
    }
}