.messages {
    display: flex;
    flex-direction: column;
    justify-content: safe end; // To make flex container scrollable
    gap: .5rem;
    position: absolute;
    margin: auto;
    bottom: 70px;
    width: 100%;
    height: calc(100% - 160px);
    // max-height: calc(100% - 160px);
    // height: max-content;
    padding: 1rem 1rem 0 1rem;
    flex-grow: 1;
    overflow: scroll;
}