@use '../styles/colors';

.message-by-friend, .message-by-user {
    display: flex;
    gap: .5rem;
    width: 85%;
    padding: 1rem;
    font-family: 'VK-Sans-Regular';
    font-size: .875rem;
    box-shadow: 0 0 3px -1px black;
    border-radius: .5rem;
    flex-shrink: 0;
    h3 {
        margin: 0;
    }
    p {
        margin: .5rem 0 0 0;
    }
    a {
        word-break: break-all;
    }
}

.message-by-user {
    margin-right: 0;
    margin-left: auto;
    background-color: colors.$blue;
    color: white;
    a {
        color: white;
    }
}