@import '../styles/mixins';

.message-card {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    @include shadow;
    p {
        margin: .5rem 0;
        word-break: break-all;
    }
    &__username {
        font-family: 'VK-Sans-DemiBold';
    }
    &__message {
        display: -webkit-box;
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        opacity: .8;
    }
}

.skeleton {
    &__image {
        width: 50px;
        aspect-ratio: 1/1;
        background-color: lightgrey;
        border-radius: 50px;
    }
    &__col-2 {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
    &__user-info, &__message {
        width: 15ch;
        height: 1rem;
        background-color: lightgray;
    }
    &__message {
        width: 20ch;
        height: 1rem;
    }
}