@use '../styles/colors';

.mobile-menu {
    position: absolute;
    width: 70%;
    height: 100%;
    padding: 2rem;
    background-color: white;
    transition: transform ease-in-out 300ms;
    z-index: 2;
    &__nav {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        a {
            all: unset;
            color: colors.$blue
        }
    }
    &__buttons {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        width: 100%;
        bottom: 1rem;
    }
}