@use "../styles/colors";
@import "../styles/mixins";

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: max-content;
  height: max-content;
  margin-top: 15px;
  margin-bottom: 90px;
  padding: 2rem;
  @include shadow;
  background-color: whitesmoke;
  font-weight: 600;
  p {
    margin: 0;
    align-self: baseline;
    span {
      color: colors.$blue;
    }
  }
  button {
    padding: 0.5rem 0;
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
  }
  &__photo-upload-label {
    display: flex;
    justify-content: center;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    label {
      margin-bottom: -0.5rem;
      button {
        margin-bottom: 0.5rem;
      }
    }
    input {
      padding: 0.5rem;
      border: none;
      outline: 1px solid grey;
      border-radius: 0.5rem;
      transition: all ease-in-out 300ms;
      &:focus {
        border: none;
        outline: 1px solid colors.$blue;
      }
    }
    > div {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
    button {
      align-self: center;
    }
  }
}
