@import "../../../styles/mixins";

.image-page {
  @include header-padding;
  height: 100%;
  &__img-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 100%;
    img {
      border-radius: 1rem;
      width: 90%;
    }
    button {
      height: 30px;
    }
  }
  &__dots {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 40px;
    rotate: 90deg;
    z-index: 1;
  }
}
