@use "../../styles/colors";
@import "../../styles/mixins";

.home {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
  padding-bottom: 90px;
  @include header-padding;

  &__no-posts {
    text-align: center;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__friend-avatars {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-top: 1rem;
    cursor: pointer;
  }
}

.home__no-friends {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 1rem;
}
